apiVersion: v1
kind: Namespace
metadata:
  name: %DEMOZONE%
  labels:
    name: wedowinepoc
  annotations:
    # workaround for: https://github.com/rancher/rancher/issues/21222 --- c-c2t9n:p-924ps ---> gigis project
    field.cattle.io/projectId: "%RANCHERPROJECT%"
